@import url('https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: medium;
    font-family: 'Miltonian Tattoo', cursive;
}

.app {
    max-width: 100%;
    margin: 0 auto;
}

.container {
    text-align: center;
    margin-top: 3.5%;
    margin-bottom: 0.1%;
}

.inner-container {
    display: inline-block;
    width: 88%;
    height: auto;
    /* border:1px solid blue; */
    margin-bottom: 5%;
}