.btn-link {
    background-color: #343a40;
    color: #b817a1;
    padding: 2%;
    width: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 0.5%;
    border: 2px solid white;
    margin-bottom: 2%;
}

.btn-link:hover {
    background-color: #17a2b8;
    border: 2px solid #234465;
    color: #b82c17;
    font-style: italic;
}

.btn-link:not(:first-child) {
    background-color: #17a2b8;
    border: 2px solid #234465;
    color: #b82c17;
    font-style: italic;
}